img {
    height: 400px;
    width: 600px;
    object-fit: cover;
}

body {
    /* display: flex;
    justify-content: center; */
}

#container {
    position: relative;
    height: 400px;
    width: 600px;
    border: 5px solid green;
}

#bottom-image {
    position: absolute;
}

#top-image {
    position: absolute;
    /* this is the magic step */
    overflow: hidden;
}

#slider {
    position: absolute;
    height: 400px;
    width: 10px;
    background-color: black;
    left: 300px;
}
