* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    display: grid;
    /* this decides how many columns there are in a container */
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 50px 1fr 50px;
    grid-gap: 10px;
}

header {
    background-color: lightblue;
    /* grid-column-start: 1;
    grid-column-end:4; */
    grid-column: 1 / 4;
}

.left-sidebar {
    background-color: pink
}

main {
    background-color: red;
}

.right-sidebar {
    background-color: pink;
}

footer {
    background-color: lightblue;
    grid-column: 1 / span 3;
}
