{{#projectsData}}
<div id='project'>
    <a href ="/projects/{{directory}}">

        {{#if ../image}}
        <img id="project-image" src="/{{directory}}/screenshot.jpg" alt="image">
        {{/if}}

    <h3>{{title}}</h3></a>
</div>
{{/projectsData}}
