* {
    box-sizing: border-box;
    margin: 0px;
    margin-top: 3px;
}

#ticker {
    overflow-x: hidden;
    width: 100%;
    border-bottom: 3px black solid;
    font-family: Lucida Sans Typewriter;
    white-space: nowrap;
    left: 50%;
    height: 2em;
    position: relative;
    top: 0px;
    left: 0px;
}

#headlines {
    white-space: nowrap;
    position: absolute;
    left: 50%;
}

#headlines a {
    padding-right: 50px;
    color: black;

}

#headlines a:hover
{
    font-weight: bold;
    color: blue;
}
